body {
	font-family: 'Open Sans', 'Nanum Gothic', sans-serif;
}

h2 {
	text-align: center;
	margin: 20px;
}

.well {
	background: rgba(255, 255, 0, 0.39);
	border:1px solid rgb(100, 100, 100);
	margin: 40px;
}

.container {
	margin-top: 40px;
}

#id_text, #id_title{
	width: 100%;
}